<div ng-hide="game.isInProgress()">
    <h2>You are not in any game</h2>
    <h5>Go to the lobby to create or join a room!</h5>
    <h5>When you have 2 players in a room your game will start!</h5>
    <a href="#!/lobby"><button class="btn btn-primary">Go to Lobby</button></a>
</div>
<div ng-show="game.isInProgress()">
    <hr>
    <div class="row">
        <div ng-repeat="player in game.players" class="col-xs-6">
            <div class="panel panel-default" ng-class="{'panel-success':game.currentPlayer.name === player.name}">
                <div class="panel-heading"><b>{{player.name}}</b></div>
                <div class="panel-body">
                    <img ng-src="assets/avatars/{{player.avatar}}.png" width="100" height="100" class="img-circle">
                </div>
                <div class="panel-footer">
                    Wins: {{game.numberOfWins(player)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button title="New game" class="btn btn-primary" ng-click="game.reset()"><i class="fa fa-plus-circle"></i></button>
        <button title="Undo" class="btn btn-primary" ng-click="game.undo()"><i class="fa fa-undo"></i></button>
        <button title="Clear match history" class="btn btn-primary" ng-click="game.clearHistory()"><i class="fa fa-eraser"></i></button>
    </div>
    <hr>
    <div class="row">
        <div>
            <table border="1" style="margin:auto;">
                <tbody>
                <tr ng-repeat="row in game.board track by $index">
                    <td ng-repeat="cell in row track by $index" ng-click="game.play($parent.$index, $index)"
                        width="35" height="35" class="lead" >
                        {{game.board[$parent.$index][$index]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
