<div ng-hide="playerService.player">
    <h2>Login</h2>
    <form ng-submit="login()">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="playerName" placeholder="Player Name" required="required" />
        </div>

        <div class="form-group">
            <label>Pick an avatar:</label>
            <select class="form-control" ng-options="avatar for avatar in avatars" ng-model="selectedAvatar" required="required"></select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</div>
<div ng-show="playerService.player">
    <h2>Hi, {{playerService.player.name}}</h2>
    <h5>Go to the lobby to create or join a room!</h5>
    <a href="#!/lobby"><button class="btn btn-primary">Go to Lobby</button></a>
</div>