<div>
    <div class="row">
        <div ng-hide="lobby.activeRoom">
            <form ng-submit="createRoom()">
                <input type="text" ng-model="roomName" placeholder="Roomname" required="required" />
                <button type="submit" class="btn btn-primary  btn-large">Create Room</button>
            </form>
        </div>
        <div ng-show="lobby.activeRoom">
            <h2>Active Room:</h2>
            <div class="panel panel-default well">
                <p>Name: {{lobby.activeRoom.name}}</p>
                <p>Created by: {{lobby.activeRoom.players[0].name}}</p>
                <p>Players: {{lobby.activeRoom.players.length}}/2</p>
                <p>
                    <button type="button" ng-click="leaveRoom(lobby.activeRoom)" class="btn btn-primary">Leave Room</button>
                </p>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div ng-repeat="room in lobby.rooms" class="panel panel-default col-sm-4 well">
            <p>Name: {{room.name}}</p>
            <p>Created by: {{room.players[0].name}}</p>
            <p>Players: {{room.players.length}}/2</p>
            <p ng-if="room.players.length < 2 && lobby.activeRoom === undefined">
                <button type="button" ng-click="joinRoom(room)" class="btn btn-primary">Join Room</button>
            </p>
        </div>
    </div>
</div>

